<div class="first-step" *ngIf="first">

  <div class="block-opacity">
    <div class="title">
      <p>Бронювання столиків</p>
    </div>

    <div class="block-inputs">
      <div class="container">
        <div class="row">
          <div>
            <div class="form-group">
              <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input placeholder="Дата і година" type="text" #datapick class="form-control datetimepicker-input" data-target="#datetimepicker1"
                />
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                  <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div>
            <div class="form-group">
              <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                <input placeholder="Дата і година" type="text" #datapickTwo class="form-control datetimepicker-input" data-target="#datetimepicker2"
                />
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                  <div class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" (click)="secondStep()">Пошук</button>
    </div>
    <div class="rest"></div>

    <div class="popup">
      <p class="sorry">Вибачте, на вибрану вами дату та час немає вільних столиків, будь ласка оберіть інший час</p>
      <button>Ok</button>
    </div>
  </div>
</div>




<div *ngIf="second">

  <div class="back-button">
    <button (click)="back1()">
      <img src="../../assets/img/back-left-arrow-square-button-outline (1).png" alt="">
    </button>
  </div>


  <div class="block">
    <div class="picture" id="pic1">
    </div>
    <div class="description">
      <p class="title-choose">Ротонда</p>
      <p class="choose-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, corporis ipsum. Quisquam, nam mollitia. Explicabo
        adipisci quod tempora sit autem assumenda illum velit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita,
        corporis ipsum. Quisquam, nam mollitia. Explicabo adipisci quod tempora sit autem assumenda illum velit.</p>
    </div>
    <div class="choose">
      <button type="button" (click)="choose()">Обрати</button>
    </div>
    <!-- </div> -->
  </div>

  <div class="block">
    <div class="picture" id="pic2">
    </div>
    <div class="description">
      <p class="title-choose">Ресторан</p>
      <p class="choose-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, corporis ipsum. Quisquam, nam mollitia. Explicabo
        adipisci quod tempora sit autem assumenda illum velit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita,
        corporis ipsum. Quisquam, nam mollitia. Explicabo adipisci quod tempora sit autem assumenda illum velit.
      </p>
    </div>
    <div class="choose">
      <button type="button" (click)="choose()">Обрати</button>
    </div>
    <!-- </div> -->
  </div>
</div>

<div class="third" *ngIf="third">

  <div class="back-button">
    <button (click)="back2()">
      <img src="../../assets/img/back-left-arrow-square-button-outline (1).png" alt=""> </button>
  </div>
  <p class="reserv-title">Оберіть вільний столик</p>
  <div class="table">
    <div tabindex="-1" (click)="selectTable($event)" *ngFor="let place of places" id="{{place.Code}}" class="circle"></div>
  </div>

  <div class="checkboxes">

    <label class="toggle">
      <input id="1" class="toggle__input" type="checkbox">
      <span class="toggle__label">
        <span class="toggle__text">Підтвердження дзвінком</span>
      </span>
    </label>

    <label class="toggle">
      <input id="2" class="toggle__input" type="checkbox">
      <span class="toggle__label">
        <span class="toggle__text">Нагадування на пошту</span>
      </span>
    </label>

    <label class="toggle">
      <input id="3" class="toggle__input" type="checkbox">
      <span class="toggle__label">
        <span class="toggle__text">Нагадування телефонним дзвінком</span>
      </span>
    </label>
  </div>

  <div class="comment">
    <textarea #description name="" class="comment" placeholder="Коментар:"></textarea>
    <button (click)="goToPopUp()">Забронювати</button>
  </div>
</div>

<div *ngIf="fourth" class="fourth-block">

  <!-- <div class="btn-center">
        <button type="button" (click)="conclusion()">Далі</button>
      </div> -->

  <div class="back-button">
    <button (click)="back3()">
      <img src="../../assets/img/back-left-arrow-square-button-outline (1).png" alt=""> </button>
    <button type="button" (click)="conclusion()" class="btn-grad">Далі
      <img src="../../assets/img/back-left-arrow-square-button-outline (1).png" alt="">
    </button>
  </div>

  <div class="kinds">
    <div class="kind-choose" (click)="drinksChoose($event)">
      <p>Напої</p>
    </div>
    <div (click)="firstCourseChoose($event)">
      <p>Перше</p>
    </div>
    <div (click)="secondCourseChoose($event)">
      <p>Друге</p>
    </div>
    <div (click)="desertsChoose($event)">
      <p>Десерт</p>
    </div>
  </div>
  <div *ngIf="drinks">
    <div class="coctail-block" tabindex="-1" *ngFor="let dish of array1">
      <img class="picture-img" class="{{dish.ID}}" height="100px" width="100px">
      <div class="description">
        <p class="title-choose">{{dish.ShortName}}</p>
        <p class="title-choose">{{dish.Price}} uah</p>
        <p class="choose-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, corporis ipsum. Quisquam, nam mollitia. Explicabo
          adipisci quod tempora sit autem assumenda illum velit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Expedita, corporis ipsum.</p>
      </div>
      <div>
        <div class="add-value">
          <input type="text" id="{{dish.ID}}" value="1" class="input-value input">
          <div class="value-flex">
            <div class="input" id="{{dish.ID}}" (click)="decrementQuantity($event)">-</div>
            <div class="input" id="{{dish.ID}}" (click)="incrementQuantity($event)">+</div>
          </div>
        </div>
      </div>
      <div class="choose">
        <button type="button" (click)="chooseMeal(dish)">Обрати</button>
      </div>
    </div>
  </div>

  <div *ngIf="firsCourse">
    <div class="coctail-block" tabindex="-1" *ngFor="let dish of array2">
      <img class="picture-img" class="{{dish.ID}}">
      <div class="description">
        <p class="title-choose">{{dish.ShortName}}</p>
        <p class="choose-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, corporis ipsum. Quisquam, nam mollitia. Explicabo
          adipisci quod tempora sit autem assumenda illum velit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Expedita, corporis ipsum.</p>
      </div>
      <div>
        <div class="add-value">
          <input type="text" id="{{dish.ID}}" value="1" class="input-value input">
          <div class="value-flex">
            <div class="input" id="{{dish.ID}}" (click)="decrementQuantity($event)">-</div>
            <div class="input" id="{{dish.ID}}" (click)="incrementQuantity($event)">+</div>
          </div>
        </div>
      </div>
      <div class="choose">
        <button type="button" (click)="chooseMeal(dish)">Обрати</button>
      </div>
    </div>
  </div>

  <div *ngIf="secondCourse">
    <div class="coctail-block" tabindex="-1" *ngFor="let dish of array3">
      <img class="picture-img" class="{{dish.ID}}">
      <div class="description">
        <p class="title-choose">{{dish.ShortName}}</p>
        <p class="choose-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, corporis ipsum. Quisquam, nam mollitia. Explicabo
          adipisci quod tempora sit autem assumenda illum velit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Expedita, corporis ipsum.</p>
      </div>
      <div>
        <div class="add-value">

          <input type="text" id="{{dish.ID}}" value="1" class="input-value input">
          <div class="value-flex">
            <div class="input" id="{{dish.ID}}" (click)="decrementQuantity($event)">-</div>
            <div class="input" id="{{dish.ID}}" (click)="incrementQuantity($event)">+</div>
          </div>

        </div>
      </div>
      <div class="choose">
        <button type="button" (click)="chooseMeal(dish)">Обрати</button>
      </div>
    </div>
  </div>

  <div *ngIf="desert">
    <div class="coctail-block" tabindex="-1" *ngFor="let dish of array4">
      <img class="picture-img" class="{{dish.ID}}">
      <div class="description">
        <p class="title-choose">{{dish.ShortName}}</p>
        <p class="choose-description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, corporis ipsum. Quisquam, nam mollitia. Explicabo
          adipisci quod tempora sit autem assumenda illum velit.Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Expedita, corporis ipsum.</p>
      </div>
      <div>
        <div class="add-value">
          <input type="text" id="{{dish.ID}}" value="1" class="input-value input">
          <div class="value-flex">
            <div class="input" id="{{dish.ID}}" (click)="decrementQuantity($event)">-</div>
            <div class="input" id="{{dish.ID}}" (click)="incrementQuantity($event)">+</div>
          </div>
        </div>
      </div>
      <div class="choose">
        <button (click)="chooseMeal(dish)" type="button">Обрати</button>
      </div>
    </div>
  </div>

  <!-- </div> -->


</div>

<div *ngIf="fifth" class="fifth-block">
  <div class="back-button">
    <button (click)="back4()">
      <img src="../../assets/img/back-left-arrow-square-button-outline (1).png" alt="">
    </button>
  </div>

  <h2 class="title-card">Ваше замовлення:</h2>
  <h2 class="sum">{{price}} uah</h2>
  <div class="card-order" *ngFor="let order of items; let i = index">
    <div>
      <img src="../../assets/img/cake-3529598_960_720.jpg" alt="">
      <p class="title-choose">{{order.Name}}</p>
      <p class="price">Ціна: {{order.Price}} uah</p>
      <p class="price">Кількість: {{order.Quantity}}</p>
      <button class="remove-order" (click)="removeOrder(i)">Remove</button>
    </div>

  </div>

  <div class="btn-center">
    <button (click)="paymentGo()" class="btn-grad">Oплатити</button>
  </div>
</div>

<div *ngIf="six">
  <!-- <form class="form-container" [formGroup]="paymentForm">
      <div class="block-edit">
        <label for="phoneNumber">
          <b>Телефон</b>
        </label>
        <input type="text" formControlName="PhoneNumber" class="form-control" id="phoneNumber" name="phoneNumber" required #phoneNumber>
      </div>
      <div class="block-edit">
        <label>
          <b>Код вашой кредитної карти:</b>
        </label>
        <input type="text" formControlName="CardCode" #cardCode class="form-control" id="cardCode" name="cardCode" required>
      </div>
      <div class="block-edit">
          <label>
            <b> Місяць:</b>
          </label>
          <input type="text" formControlName="ExpMonth" #expMonth class="form-control" id="expMonth" name="expMonth" required>
      </div>
      <div class="block-edit">
          <label>
            <b>Рік:</b>
          </label>
          <input type="text" formControlName="ExpYear" #expYear class="form-control" id="expYear" name="expYear" required>
      </div>
      <div class="block-edit">
          <label>
            <b>CVV:</b>
          </label>
          <input type="text" formControlName="CardCVV" #expYear class="form-control" id="cardCVV" name="cardCVV" required>
      </div>
        <button type="submit" class="btn submit" (click)="payment()">Оплатити</button>
    </form> -->

  <div class="wrapper">
    <form action="" class="form-checkout" [formGroup]="paymentForm">
      <h2 class="title-card">Оплата замовлення</h2>
      <h3 class="total">{{price}} uah</h3>
      <div class="card">
        <div class="card-info">
          <input class="c-info-input c-in-num" type="text" formControlName="CardCode"  name="card-num" placeholder="Card Number" maxlength="16">
          <div>
            <input class="c-info-input c-in-name" type="text" name="name" formControlName="PhoneNumber" placeholder="Phone Number">
            <input class="c-info-input c-in-date-m" formControlName="ExpMonth" type="text" name="date-m" placeholder="mm" maxlength="2">
            <span class="slash">/</span>
            <input class="c-info-input c-in-date-y" formControlName="ExpYear" type="text" name="date-m" placeholder="yy" maxlength="2">
          </div>
          <input class="c-info-input c-in-cvv" type="text" formControlName="CardCVV" name="cvv" placeholder="cvv" maxlength="3">
        </div>

        <div class="buttons">
          <input class="btn-checkout" (click)="payment()" type="submit" name="btn-checkout" value="Pay Now">
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
    var date = $('#datetimepicker1').datetimepicker('viewDate');
    $('#datetimepicker2').datetimepicker();
    var date = $('#datetimepicker2').datetimepicker('viewDate');
  });
</script>