p {
    color: white;
}

.title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.block-opacity {
    width: 60%;
    margin: auto;
    margin-top: 3%;
    padding: 2%;
    background: #0000008c;
}

.block-inputs {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

.input {
    border: 1px inset transparent;
    padding: 10px 17px;
    font-size: 18px;
    border-radius: 3px;
    color: white;
    background: #252141c7;
}

.input::placeholder {
    color: white;
}

.rest {
    margin: 3% auto;
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/img/kavalier_restoran_00.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    border: none;
    padding: 10px 17px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* text-transform: uppercase; */
    background: #252141;
    border-radius: 3px;
}

button:hover {
    background: #281547;
    cursor: pointer;
}

input:focus {
    overflow: hidden;
    border: 1px inset #281547;
}

.popup {
    display: none !important;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    border: 3px solid #3f1b79;
    background: #252141;
    border-radius: 2px;
    padding: 2%;
}

.popup button {
    background: #3f1b79;
    width: 30%;
    margin: auto;
}

.form-container {
    color: white;
    width: 30%;
    margin: auto;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-left: 15%;
    margin-top: 3%;
    color: white;
    background: #0000008a;
    padding: 1%;
    border-radius: 2px;
}

.picture {
    width: 35%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
}

.pictite-img {
    width: 35%;
    height: 250px;
    border-radius: 2px;
}

#pic1 {
    background-image: url(../../assets/img/rotonda-final.jpg);
}

#pic2 {
    background-image: url(../../assets/img/rest-final.jpg)
}

#coctail {
    background-image: url(../../assets/img/coctails-image-2.jpg)
}

#firstDish {
    background-image: url(../../assets/img/first-course-of-a-three-course-meal-prawn-cocktail-with-prawns-smoked-FAMXXT.jpg)
}

#secondDish {
    background-image: url(../../assets/img/Утиная-грудка-с-яблоками-2-800x600.jpg)
}

#desert {
    background-image: url(../../assets/img/cake-3529598_960_720.jpg)
}

.input-value {
    width: 39px;
    font-size: 18px;
    padding: 0;
    text-align: center;
    background: #1b016a;
    margin: 20px;
}

.add-value {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.second {
    padding-bottom: 5%;
}

.description {
    width: 30%;
}

.title-choose {
    font-weight: bold;
    font-size: 24px;
}

.choose-description {
    font-size: 18px;
}

.third {
    border: 2px solid #9372fd;
    width: 60%;
    margin: auto;
    background: #000000db;
    margin-top: 1%;
    padding: 2%;
    padding-bottom: 3%;
}

.reserv-title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: -3%;
}

.table {
    width: 1000px;
    height: 1000px;
    background: #000000db;
    display: flex;
    padding-top: 17%;
    margin: auto;
}

.circle {
    background: #93e1c1 !important;
    // width: 10%;
    // height: 20%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // color: white;
    // font-weight: bold;
    // font-size: 20px;
    // margin: 0 8%;
}

.circle:focus {
    background: #09fb8b !important;
}

.circle:hover {
    background: #09fb8b !important;
}

.closed {
    background: #e19393;
}

.closed:hover {
    background: #e19393 !important;
}

.form input {
    padding: 10px 15px;
    font-size: 16px;
    width: 30%;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.comment textarea {
    width: 80%;
    margin: 0;
}

//checkboxes
.toggle {
    --uiToggleSize: var(--toggleSize, 20px);
    --uiToggleIndent: var(--toggleIndent, .4em);
    --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
    --uiToggleColor: var(--toggleColor, #000);
    --uiToggleDisabledColor: var(--toggleDisabledColor, #868e96);
    --uiToggleBgColor: var(--toggleBgColor, #fff);
    --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
    --uiToggleArrowColor: var(--toggleArrowColor, #fff);

    display: inline-block;
    position: relative;
}

.toggle__input {
    position: absolute;
    left: -99999px;
}

.toggle__label {
    display: inline-flex;
    cursor: pointer;
    min-height: var(--uiToggleSize);
    padding-left: calc(var(--uiToggleSize) + var(--uiToggleIndent));
}

.toggle__label:before,
.toggle__label:after {
    content: "";
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    font-size: var(--uiToggleSize);

    position: absolute;
    left: 0;
    top: 0;
}

.toggle__label:before {
    border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);
    z-index: 2;
}

.toggle__input:disabled~.toggle__label:before {
    border-color: var(--uiToggleDisabledColor);
}

.toggle__input:focus~.toggle__label:before {
    box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
}

.toggle__input:not(:disabled):checked:focus~.toggle__label:after {
    box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
}

.toggle__input:not(:disabled)~.toggle__label:after {
    background-color: var(--uiToggleColor);
    opacity: 0;
}

.toggle__input:not(:disabled):checked~.toggle__label:after {
    opacity: 1;
}

.toggle__text {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

/*
  The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element toggle
  */

.toggle__text:before {
    content: "";
    box-sizing: border-box;
    width: 0;
    height: 0;
    font-size: var(--uiToggleSize);

    border-left-width: 0;
    border-bottom-width: 0;
    border-left-style: solid;
    border-bottom-style: solid;
    border-color: var(--uiToggleArrowColor);

    position: absolute;
    top: .5428em;
    left: .2em;
    z-index: 3;

    transform-origin: left top;
    transform: rotate(-40deg) skew(10deg);
}

.toggle__input:not(:disabled):checked~.toggle__label .toggle__text:before {
    width: .5em;
    height: .25em;
    border-left-width: var(--uiToggleArrowWidth);
    border-bottom-width: var(--uiToggleArrowWidth);
    will-change: width, height;
    transition: width .1s ease-out .2s, height .2s ease-out;
}

/*
  =====
  LEVEL 2. PRESENTATION STYLES
  =====
  */

/* 
  The demo skin
  */

.toggle__label:before,
.toggle__label:after {
    border-radius: 2px;
}

/* 
  The animation of switching states
  */

.toggle__input:not(:disabled)~.toggle__label:before,
.toggle__input:not(:disabled)~.toggle__label:after {
    opacity: 1;
    transform-origin: center center;
    will-change: transform;
    transition: transform .2s ease-out;
}

.toggle__input:not(:disabled)~.toggle__label:before {
    transform: rotateY(0deg);
    transition-delay: .2s;
}

.toggle__input:not(:disabled)~.toggle__label:after {
    transform: rotateY(90deg);
}

.toggle__input:not(:disabled):checked~.toggle__label:before {
    transform: rotateY(-90deg);
    transition-delay: 0s;
}

.toggle__input:not(:disabled):checked~.toggle__label:after {
    transform: rotateY(0deg);
    transition-delay: .2s;
}

.toggle__text:before {
    opacity: 0;
}

.toggle__input:not(:disabled):checked~.toggle__label .toggle__text:before {
    opacity: 1;
    transition: opacity .1s ease-out .3s, width .1s ease-out .5s, height .2s ease-out .3s;
}

.value-flex {
    display: flex;
}

/*
  =====
  LEVEL 3. SETTINGS
  =====
  */

.toggle {
    --toggleColor: #2a0f4e;
    --toggleBgColor: #252141;
    --toggleSize: 40px;
}

///////

.checkboxes {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.kinds {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: -3%;
}

.kinds div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 40px;
    background: #1b016a;
}

.kinds div:hover {
    background: #1b016ac7;
}

.kind-choose {
    background: #1b016ac7 !important;
}

.kinds div p {
    margin: 0;
}

.coctail-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 3%;
    color: white;
    background: #0000008a;
    padding: 1%;
    border-radius: 2px;
}

// .coctail-block:focus {
//     border: 3px inset #3602d5;
//     outline: none;
// }

.back-button {
    margin: auto;
    display: flex;
    justify-content: space-between
}

.back-button button {
    margin-top: 1%;
    width: 100px;
    background: #393074;
}

.back-button button:first-child:hover {
    background: #393074bd;
}

.btn-grad {
    display: flex;
    width: 130px !important;
    justify-content: space-between;
    background-image: linear-gradient(to right, #1b0969 0%, #3c3474 51%, #1e0d58 100%) !important;
    background-position: right left !important;
}

.btn-grad img {
    transform: rotate(180deg);
}

.btn-grad:hover {
    background-image: linear-gradient(to left, #1b0969 0%, #3c3474 51%, #1e0d58 100%) !important;
}

.fourth-block {
    width: 70%;
    margin: auto;
    padding-top: 2%;
}

.fifth-block {
    width: 70%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 3%;
}

.concl-text {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.btn-center {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1%;
}

//------------------ payment card

.wrapper {
    height: 650px;
    left: calc(50% - 475px);
    width: 950px;
    position: absolute;
    top: 100px;
}

.wrapper .form-checkout {
    background: transparent;
    // box-shadow: 0 1px 4px 1px #999;
    display: flex;
    flex-direction: column;
    height: 650px;
    transform: translateX(230px);
    top: 0;
    width: 500px;
    z-index: 9;
}

.title-card {
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: white;
    font-size: 2.5em;
    font-weight: 300;
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin-top: -3%;
}

.total {
    color: white;
    font-family: "Work Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    padding: 15px;
    text-align: center;
}

.payment-select .selector {
    background: transparent;
    height: 16px;
    left: calc(12.5% - 8px);
    position: absolute;
    top: 242px;
    transform: rotate(45deg) translateX(0);
    transform-origin: center center;
    transition: all 0.25s ease-in-out;
    width: 16px;
}

.card {
    background: #0f0b25c9;
    border-radius: 10px;
    height: 210px;
    margin: 5px 80px;
    border: 1px solid #8364fd;
    width: 340px;
}

// .card:before {
//     background-image: url(https://box1182.BlueHost.com/~seanale3/codepen/dailyui/002/chip.svg);
//     background-position: 25% 30%;
//     background-repeat: no-repeat;
//     background-size: 30% auto;
//     border-radius: 10px;
// }

// .card:after {
//     left: 62px;
//     -webkit-transform: skew(15deg);
//     transform: skew(15deg);
//     z-index: 1;
// }

// .card:before,
// .card:after {
//     background: #ab47bc;
//     content: "";
//     display: block;
//     height: 210px;
//     position: absolute;
//     width: 150px;
//     z-index: 3;
// }

.card .card-info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 110px;
    justify-content: space-around;
    padding-left: 30px;
    position: absolute;
    top: 85px;
    width: 340px;
}

.card .card-info .c-info-input {
    background: transparent;
    border-color: #8364fd;
    border-width: 0 0 1px 0;
    color: #fff;
    display: block;
    font-family: "Work Sans", sans-serif;
    font-size: 1em;
    outline: none;
    text-align: center;
    z-index: 4;
}

.card .card-info .c-in-num {
    width: 280px;
}

.card .card-info .c-in-date-m,
.card .card-info .c-in-date-y {
    display: inline-block;
    width: 35px;
}

.card .card-info .c-in-name {
    display: inline-block;
    margin-right: 15px;
    width: 185px;
}

.card .card-info .slash {
    color: #8364fd;
    font-family: "Work Sans", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    left: 3px;
    position: relative;
    top: 2px;
}

.card-info input::placeholder {
    color: white;
}

.card .card-info div {
    position: relative;
    z-index: 4;
}

.card .card-info .c-in-cvv {
    left: 235px;
    position: relative;
    width: 45px;
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100px;
    position: relative;
    top: 280px;
}

.buttons .btn-checkout {
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 1.1em;
    height: 60px;
    width: 120px;
    background: #5c45b7;
    border: none;
    outline: none;
    border-radius: 2px;
}

.buttons .btn-checkout:hover {
    background: #8364fd;
}

// summery
.card-order {
    width: 50%;
    margin: auto;
    background: #100c25e0;
    padding: 2%;
    border-radius: 2px;
    border: 1px solid #fdfdfd;
    margin-top: 3%;
}

.card-order img {
    width: 65%;
    margin: auto;
}

.card-order div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-order .title-choose {
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
}

.price {
    font-size: 21px;
    text-align: center;
}

//

.value-flex div:hover {
    background: #1d1365b8;
    cursor: pointer;
}

.sum {
    color: white;
    text-align: center;
}