<div class="background1">
  <div class="background2">
    <div class="content">
      <div class="btns">
        <button class="button-ua" (click)="setLangUA('ua')"></button>
        <button class="button-en" (click)="setLangEN('en')"></button>
      </div>
      <div class="login-sign-in" id="login">
        <div class="login">
          <h2 class="login-header">{{ 'LOYALTI_SYSTEM' | translate}}</h2>
          <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
            <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
              <input type="email" placeholder="Email" formControlName="email">
            </p>

            <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
              <div *ngIf="formControls.email.errors.required">Email is required</div>
            </div>

            <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
              <input type="password" placeholder="Password" formControlName="password">
            </p>

            <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
              <div *ngIf="formControls.password.errors.required">Password is required</div>
            </div>
            <div class="forgot-pass">
              <label class="forgot" (click)="openForm()">{{ 'FORGOT' | translate }}</label>
            </div>
            <input type="submit" class="btn btn-success" value="{{ 'LOG_IN' | translate}}">
            <div class="sing-in-btn">

            </div>
          </form>
          <input type="reset" style="width:92%; margin: auto;" (click)="redirect()" class="btn btn-primary" value="{{ 'SIGN_IN' | translate}}"
          />
        </div>
        <!-- <div class="sign-in">
          <h2 class="login-header">{{ 'HAVA_A_ACCOUNT' | translate }}</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem modi praesentium et!</p>
          <button class="btn btn-primary">{{ 'SIGN_IN' | translate}}</button>
        </div> -->
      </div>
      <div>
        <div class="form-popup" id="myForm">
          <form class="form-container" [formGroup]="resetForm">
            <!-- <label for="mphone"><b>{{'PHONE_NUMBER' | translate}}</b></label>
            <input type="text" formControlName="MobilePhone" id="phone" class="form-control"
              placeholder="{{'PHONE_NUMBER' | translate}}" name="mphone" required> -->
            <label for="email">
              <b>Email</b>
            </label>
            <input type="email" formControlName="EMail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="email" #email class="form-control"
              placeholder="Email" name="email" required>
            <!-- <label>New Password</label>
            <input type="text" formControlName="NewPassword" id="password" class="form-control" placeholder="Password"
              name="mphone" required> -->
            <div class="block-btn">
              <button type="submit" class="btn cancel" (click)="closeForm()">{{'CANCEL' | translate}}</button>
              <button type="submit" class="btn submit" (click)="sendNewData()">{{'SUBMIT' | translate}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
   