.login {
  // width: 50%;
  // margin: auto;
  // font-size: 16px;
  // border-right: 2px solid #0d7bfe;
  padding: 10px;
  width: 300px;
  // border: 1px solid black;
  // background: #0000008a;
  color: white;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-header{
  width: fit-content;
  margin: auto;
  border-bottom: 2px solid #007bff;
  padding: 7px !important;
}

.button-block{
  width: fit-content;
  margin: auto;
  margin-top: 2%;
}

.login-header {
  padding: 20px;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.login-container {
  margin-bottom: -25px;
  padding: 12px;
}

.login p {
  padding-top: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="text"],
.login input[type="password"] {
  color: #555;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #007bff !important;
}

.login-sign-in {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: auto;
  font-size: 16px;
  padding: 10px;
  border: 1px solid black;
  background: #0000008a;
  color: white;
}

.sign-in {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 15px;
  width: 50%;
}

.sing-in-btn {
  display: flex;
  margin-top: 10%;
  justify-content: center;
}

.sign-in h2 {
  margin: 0;
}

.sign-in p {
  margin-top: auto;
  margin-bottom: auto;
}

.sign-in button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 12px;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="submit"] {
  cursor: pointer;
}

.has-error input[type="email"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}

.background1{
  background: url('https://moemisto.ua/img/cache/event_huge/event/0002/66/07f9b58ee4361516d648405230762a72d909b09f.jpeg?hash=2018-04-11-11-18-43');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.background2{
  background: #00000024;
  // padding-top: -15%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-pass {
  margin-top: 4%;
  margin-bottom: 3%;
}

.forgot{ 
  margin-left: 25%;
}

.forgot:hover{
color: #007bff;
text-decoration-line: underline;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  // width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container {
  color: white;
  width: 100%;
  padding: 10px;
  background-color: rgba(19, 23, 24, 0.88);
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-popup {
  display: none;
  position: fixed;
  width: 25%;
    top: 35%;
    left: 38%;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  
}

.block-btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.btns {
  width: 100%;
  text-align: center;
    margin: auto;
    margin-bottom: 0%;
}

.button-ua {
  background-image: url(/src/assets/img/uk_ua.gif);
  background-repeat: no-repeat;
  background-size: 70%;
  width: 33px;
    height: 22px;
  background-position: center;
  background-color: transparent;
  border: none;
  // margin: 2%;
}
.mesbtn {
  margin-left: 11%;
}
.button-en {
  background-image: url(/src/assets/img/en.gif);
  background-repeat: no-repeat;
  background-size: 70%;
  width: 33px;
  background-color: transparent;
  height: 22px;
  background-position: center;
  border: none;
}

@media(max-width: 768px){
.form-popup{
  width: 100% !important;
  top: 0% !important;
    left: 0% !important;
  position: absolute !important;
}
}

@media(max-width: 320px){
  .form-popup{
    position: absolute !important;
    top: 0% !important;
    left: 0% !important;
    width: 100% !important;
  }
}