// button{

//   background: rgb(1, 29, 51);
//   border-color: transparent;
//   color: #fff;
//   cursor: pointer;
// }

// Color #4a3739; #312627
// background-color: #cbc3c2bf

.logo {
  display: flex;
  width: 60%;
  cursor: pointer;
  margin-left: 60px;
}



.logo-img {
  padding: 1%;
  margin-left: 2%;
}

.logo-img:hover {
  background: #333232c2
}

.bonus {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.welcome-header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .8);
  // #2f2319
  height: 90px;
  width: auto;
  margin-top: auto;
  color: white;
}

.popup-img {
  display: flex !important;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  z-index: 10000;
}

.welcome-header img {
  height: 70px !important;
  width: 100% !important;
}

.welcome-user {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: 37%;
  align-items: center;
  justify-content: flex-end;
  margin-right: 3%;
}

.welcome-user-block {
  display: flex;
  flex-direction: column;
}

.welcome-user-title {
  margin-right: 0%;
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  padding-right: .4rem;
}

.setting-img {
  display: flex;
  flex-wrap: nowrap;
}

.setting-tools {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  z-index: 100;
  margin-top: .2rem;
}

.pop {
  flex-direction: column;
  padding: .1rem;
  width: fit-content;
  color: black;
  background-color: white;
  z-index: 10;
}

.pop p {
  margin: 0;
  padding: .4rem 4rem .4rem .4rem;
}

.popup-img img {
  height: 40px !important;
  width: 40px !important;
  // background-color: white;
  // border-radius: 50%;
}

// .popup-img:hover ~ .setting-tools {
//   display: flex;
// }

// .popup-img:hover .welcome-user-block {
//   margin-top: 15%;
// }


.pop p:hover {
  background-color: #b7b7b7;
}

.menu {
  border: 1px solid white;
  width: fit-content;
  border-left: none;
  background-color: #0000009e;
}

.menu p {
  padding: 5% 15%;
  color: #1888c0;
  margin: 0;
  border-bottom: 1px solid white;
  width: auto;
}

.menu p:hover {
  color: white;
  background-color: black;
}


.content {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #0000009e;
  padding: 1%;
}


// .welcome-header div img:hover {
//   background-color: white;
// }

.welcome-header h4 {
  margin: auto 0;
  padding-right: .2rem;
}


.exit {
  position: absolute;
  left: 95%;
  top: 5%;
}

.background1 {
  background: url('../../assets/img/_E5R3291.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.qrCode-media {
  display: none;
  color: black;
  position: fixed;
  top: 35%;
  left: 79%;
  width: 240px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  flex-direction: column;
  height: 287px;
  justify-content: center;
}

// .userdata {
//   flex-wrap: wrap;
// }
// .userinfo_area {
//   display: flex;
//   flex-wrap: wrap;
// };

.upload_area {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  background-color: rgba(178, 173, 245, 0.67);
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 40%;
}

;

img {
  height: 150px;
  width: 300px;
}

.userinfo_middle_new {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 3%;
  margin-top: -2%;

}

.info-user {
  color: white;
  background: #0000009e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  // margin: 2% 5% 1% 5%;
  padding: 2%;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-user {
  font-size: .8rem;
}

.title {
  color: #b7b7b7;
  font-size: 1em;
}

.info {
  width: 100%;
  margin-top: 2%;
}

.userinfo_left {
  color: white;
  position: fixed;
  background: #0000009e;
  width: 25%;
  padding: 2%;
  margin-left: 2%;
  border-radius: 2px;
  justify-content: center;
  align-content: center;
}


.userinfo_middle {
  color: white;
  // position: fixed;
  background: #0000009e;
  width: 25%;
  height: fit-content;
  // margin-top: 2%;
  padding: 2%;
  // top: 13%;
  margin-left: 1%;
  border-radius: 2px;
  justify-content: center;
  align-content: center;
}

.userinfo_middle-media {
  color: white;
  position: fixed;
  background: #0000009e;
  width: 25%;
  margin-top: 2%;
  padding: 2%;
  top: 42%;
  margin-left: 2%;
  border-radius: 2px;
  justify-content: center;
  align-content: center;
  display: none;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
}

.usercontent {
  display: flex;
  flex-wrap: wrap;
}

.background2 {
  background: #00000024;
  padding-top: 2%;
  padding-bottom: 2%;
  // min-height: 85vh;
  // height: 100%;
}

.setting-popup {
  display: flex;
  justify-content: space-between;
  width: 40%;
  // margin: 1% auto 0 auto;
}

// .addaptive-pop-menu {
//   margin-top: 4.95rem;
// }
/* The popup form - hidden by default */
.form-popup {
  display: none;
  // position: fixed;
  width: 45%;
  // -webkit-box-shadow: 5px 5px 15px 5px #000000;
  // box-shadow: 5px 5px 15px 5px #000000;

}

.change-popup {
  display: none;
  width: 35%;
}

.cover {
  display: block;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.qrCode {
  // color: black;
  width: 240px;
  padding: 20px;
  background: white;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.qrCode p {
  margin-top: 10px;
  border-bottom: 1px solid black;
}

.qr-text {
  color: white;
  margin-top: 1rem;
  font-size: .9rem;
}

// .qrCode {
//   color: white;
//   display: flex;
//   width: 240px;
//   margin: auto;
//   background-color: rgba(19, 23, 24, 0.67);
//   padding: 20px;
//   text-align: center;
//   flex-direction: column;
//   height: 287px;
//   justify-content: center;
// }


.btn {
  margin: auto;
  margin-bottom: 3%;
}

.tools {
  position: fixed;
  left: 70%;
  margin: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

// .tools{
//   margin: auto;
//   width: 30%;
//   display: flex;
//   flex-direction: column;
//   align-content: center;
//   justify-content: center;
// }

/* Add styles to the form container */
.form-container {
  color: white;
  width: 100%;
  padding: 10px;
  background-color: #0000009e;
}

.form-container .block-edit {
  margin-bottom: 5%;
}

/* Full-width input fields */
.form-container input {
  width: 100%;
  padding: 15px;
  // margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 1px;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #3b2ef5;
  ;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 1px;
  margin: 0 0 0 0;
  opacity: 0.93;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #120f38;
  ;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.btns {
  width: 75px;
  display: none;
}

.button-ua {
  background-image: url(/src/assets/img/uk_ua.gif);
  background-repeat: no-repeat;
  background-size: 70%;
  width: 33px;
  height: 22px;
  background-position: center;
  background-color: transparent;
  border: none;
  margin: 2%;
}

.mesbtn {
  margin-left: 11%;
}

.button-en {
  background-image: url(/src/assets/img/en.gif);
  background-repeat: no-repeat;
  background-size: 70%;
  width: 33px;
  background-color: transparent;
  height: 22px;
  background-position: center;
  border: none;
}



#ServioResult .footer {
  display: none;
  margin-top: 50px;
  padding: 10px;
  background: #eee;
}

// .rooms-block .one-block{
//   color: black !important;
// }
// .open-block .slick-activate .one-number{
//   color: #000000 !important;
// }

// .room-wrapper{
//   color: black !important;
// }

.textarea {
  resize: none;
  outline: none;
  width: 100%;
  height: 150px;
  overflow: auto;
  border-radius: 4px;
}

.edit-data {
  display: flex;
}

.edit-icon {
  display: flex;
  align-self: center;
  color: #3b2deb;
  margin-left: -20px;
}

.confirm-icon-yes {
  display: flex;
  font-size: 1.3rem;
  align-self: center;
  color: #52ab07;
  margin-left: -45px;
}

.confirm-icon-no {
  display: flex;
  font-size: 1.3rem;
  align-self: center;
  color: red;
  margin-left: -20px;
}

.confirm-icon {
  display: flex;
  justify-content: space-between;
  margin-left: -3px;
}

.info-text {
  // position: fixed;

  border-radius: 2px;
  padding: 2%;
  // width: 100% 
  color: white;
}

.info-text p {
  margin-top: 2%;
}

.events {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

.events-block {
  // position: fixed;
  width: 100%;
  bottom: 5px;
  background: #00000024;
}

.events-title {
  margin: 0 auto;
  padding: 1% 5%;
  width: fit-content;
  background-color: #0000009e;
}

.events-title h3 {
  text-align: center;
  margin: 0 auto;
  color: white;
}

.event-preview img {
  height: 280px !important;
  width: 190px !important;
}

.btn-setting {
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 5px;
  height: 0px
}

::-webkit-scrollbar-track {
  background-color: #ffffff47;
  opacity: 0.8;
  border-radius: 4rem;

}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 4rem;
  background-color: #000000c7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000d1;
}

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 4px;
  height: 0px
}

::-webkit-scrollbar {
  width: 4px;
}

// #show {
//   background-color: #0f0c26f2;
//   border: 0;
//   z-index: 1000;
//   color: #fff;
//   padding: 5px 10px;
//   text-transform: uppercase;
//   cursor: pointer !important;
//   outline: none;
//   position: absolute;
//   top: 5%;
//   right: 0%;
//   transform: translate(-50%, -50%);
// }

.navigation {
  position: fixed;
  width: 240px;
  height: 100%;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  // opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition-delay: 300ms;
  left: 0;
}

.navigation.active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.navigation.active .navigation__inner {
  background-color: #0f0c26b8;
  transform: translate(0, 0);
  transition: transform 300ms linear, background-color 0s linear 599ms;
}

.navigation.active .navigation__inner:after {
  width: 300%;
  border-radius: 50%;
  animation: elastic 150ms ease 300.5ms both;
}

.navigation__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 999999;
  transform: translate(-100%, 0);
  transition: transform 300ms linear, background-color 0s linear 300ms;
}

.navigation__inner:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #0f0c26f2;
  border-radius: 50%;
  z-index: -1;
  transition: all 300ms linear;
}

#bookingTables {
  display: none;
}

@keyframes elastic {
  0% {
    border-radius: 50%;
  }

  45% {
    border-radius: 0;
  }

  65% {
    border-top-right-radius: 40px 50%;
    border-bottom-right-radius: 40px 50%;
  }

  80% {
    border-radius: 0;
  }

  90% {
    border-top-right-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%;
  }

  100% {
    border-radius: 0;
  }
}

.svg {
  fill: white;
  width: 24px !important;
  margin: 10% auto 0;
}

.menu__item {
  padding: 10px 24px;
  font-size: 18px;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

.menu__item:hover {
  background-color: #a49be026;
  border-bottom: 2px inset #4d2c7659;
}

ul {
  padding: 5%;
}

// .hamburger-menu {
//   display: none;
// }

// /* скрываем чекбокс */
// #menu__toggle {
//   opacity: 0;
// }

// /* стилизуем кнопку */
// .menu__btn {
//   display: flex;
//   /* используем flex для центрирования содержимого */
//   align-items: center;
//   /* центрируем содержимое кнопки */
//   position: fixed;
//   top: 30px;
//   right: 7%;
//   width: 26px;
//   height: 26px;
//   cursor: pointer;
//   z-index: 1;
// }

// /* добавляем "гамбургер" */
// .menu__btn>span,
// .menu__btn>span::before,
// .menu__btn>span::after {
//   display: block;
//   position: absolute;
//   width: 100%;
//   height: 2px;
//   background-color: white;
// }

// .menu__btn>span::before {
//   content: '';
//   top: -8px;
// }

// .menu__btn>span::after {
//   content: '';
//   top: 8px;
// }

// /* контейнер меню */
// .menu__box {
//   display: block;
//   position: fixed;
//   visibility: hidden;
//   top: 0;
//   width: 300px;
//   height: 100%;
//   margin: 0;
//   padding: 70px 0;
//   list-style: none;
//   text-align: center;
//   // background-color: #ECEFF1;
//   box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
// }

// /* элементы меню */
// .menu__item {
//   display: block;
//   padding: 10px 24px;
//   color: white;
//   // font-family: 'Roboto', sans-serif;
//   font-size: 18px;
//   // font-weight: 600;
//   text-decoration: none;
// }

// .menu__item:hover {
//   background-color: #a49be026;
//   border-bottom: 2px inset #4d2c7659;
// }

// #menu__toggle:checked~.menu__btn>span {
//   transform: rotate(45deg);
// }

// #menu__toggle:checked~.menu__btn>span::before {
//   top: 0;
//   transform: rotate(0);
// }

// #menu__toggle:checked~.menu__btn>span::after {
//   top: 0;
//   transform: rotate(90deg);
// }

// #menu__toggle:checked~.menu__box {
//   visibility: visible;
//   right: 0;
//   background: #0f0c26f2;
// }


.user-name h4 {
  padding-right: 0;
  text-align: center;
}

.svg svg {
  width: 50px !important;
}

.svg-user {
  width: 50px !important;
  margin: 30% auto 0;
}

.btns-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 1440px) {
  .setting-popup {
    width: 70%;
  }

  .content {
    width: 70%;
  }
}

@media(max-width:1024px) {
  .content {
    width: 90%;
    margin-top: 5%;
  }

  .welcome-header {
    flex-wrap: wrap;
  }

  .logo {
    width: 98%;
  }

  .welcome-user {
    width: 100%;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
  }

  .form-popup,
  .setting-popup,
  .change-popup {
    width: 60%;
  }

  .form-popup,
  .change-popup {
    margin-top: 10%;
  }
}

@media(max-width: 768px) {

  .navigation {
    width: 100%;
  }

  .welcome-user-title {
    display: none;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .hamburger-menu {
    display: block;
  }

  .btns {
    display: none;
  }

  .bonus {
    width: 60%;
    height: 30px;
    margin-top: 10px;
  }

  .popup-img {
    display: none !important;
  }

  .qrCode {
    margin: auto;
  }

  .setting-popup {
    flex-direction: column;
    width: 95%;
    margin-left: 10%;
  }

  .change-popup {
    width: 45%;
    margin-top: 2%;
  }

  .form-popup,
  .change-popup {
    width: 85%;
  }
}

@media(max-width: 425px) {
  .bonus {
    flex-wrap: wrap;
    width: 90%;
  }

  .bonus div {
    width: 80%;
  }

  .welcome-header img {
    height: 60px !important;
    // width: 80% !important;
  }

  .welcome-user {
    margin-top: 7%;
  }
}

// @media(max-width: 2560px) {
//   .info-text{
//     width: 80%;
//   }
//   .pop {
//     top: 8%;
//   }
// } 

// @media(max-width: 1800px){
//   .info-user{
//     width: 20% !important;
//   }
//   .userinfo_left, .userinfo_middle{
//     width: 23% !important;
//   }
//   .pop {
//     top: 8%;
//   }

//   img {
//     height: 100px !important;
//     width: 200px !important;
//   }
// }

// @media(max-width: 1440px){
//   .qrCode{
//     left: 76% !important;
//   }
//   .tools{
//     left: 72% !important;
//   }
//   .exit{
//     left: 90% !important;
//     top: 3% !important;
//   }
//   .background1{
//     background-size: cover;
//   }

//   .pop {
//     top: 7%;
//   }
// }

// @media(max-width: 1024px){
//   // .userinfo_left, .userinfo_middle{
//   //   width: 45% !important;
//   // }
//   // .userinfo_middle{
//   //   top: 25% !important;
//   // }
//   .userinfo_middle_new{
//     margin-top: 45% !important;
//     position: fixed;
//     overflow: scroll;
//     height: 55%;
//   }
//   .tools{
//     width: 49% !important;
//     left: 50% !important;
//     flex-direction: row !important;
//   }

//   .pop {
//     top: 8%;
//   }

//   .events {
//     width: 85%;
//   }
// }

// @media(max-width: 768px){
//   *{
//     position: static !important;
//   }

//   .welcome-header h4 {
//     font-size: 1.2rem;
//   }

//   .info-text {
//     width: 85%;
//   }

//   img {
//     height: 130px;
//     width: 250px;
//   }


// .qrCode{
//   display: none !important;
// }

// .qrCode-media{
//   display: block !important;
// }

// .userinfo_left{
//   width: 95% !important;
//   margin-top: 2%;
// }

// .userinfo_middle{
//   display: none !important;
// }

// .userinfo_middle-media{
//   display: block;
//   width: 85% !important;
//   margin-left: auto;
//   margin-right: auto;
// }

// .tools{
//   width: 90% !important;
//   margin-top: 2% !important;
// }

// .userinfo_middle_new{
//   margin-top: 5% !important;
// }

// .info-user{
//   width: 90% !important;
//   margin-left: 0 !important; 
// }
// .form-popup{
//   width: 100% !important;
//   position: absolute !important;
//     top: 0% !important;
//     left: 0% !important;
// } 
// }

// @media(max-width: 425px) {
//   .welcome-header h4 {
//     font-size: .88rem;
//     padding-right: 0;
//   }

//   .welcome-user {
//     margin-right: 0;
//   }

//   .events {
//     width: fit-content;
//     margin-right: auto;
//     margin-left: auto;
//     flex-direction: column;
//     justify-content: center;
//   }


//   img {
//     height: 100px !important;
//     width: 200px !important;
//   }

//   .info-user {
//     margin-left: auto !important;
//     margin-right: auto;
//     margin-top: 5%;
//     margin-bottom: 5%;
//   }
// }



// @media(max-width: 320px){
//   .info-user{
//     width: 80% !important;
//     margin-left: auto;
//     margin-right: auto; 
//   }
//   .tools{
//    width: 98% !important;
//   }
//   .form-popup{
//     width: 100% !important;
//     position: absolute !important;
//     top: 0% !important;
//     left: 0% !important;
//   }
// }